@charset "utf-8";
/* CSS Document */

div a{
  display: inline-block;
  margin: 8px 10px;
  color: #956839;
  font-family: yellowtail;
  font-weight: 900;
  white-space: nowrap;
  text-decoration: none;
}
h3{
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
div {
  overflow: hidden;
}
div a:visited{
  color:#666  
}
div a:hover,a:active{
  background:rgb(159,193,218);
}
