<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Cat.Novel.Mapper.StoreMapper" >

<insert id="saveChapter" parameterType="Chapter">
insert into CHAPTER  (id,chapterName,realName, url,content,novelId,privousId,orderNum
		)
		values (
		#{id},#{chapterName},#{realName},#{url},#{content},#{novelId},#{privousId},#{orderNum}
		)

</insert>

	<!-- 向上一章插入本章id-->
	<update id="saveNextID" parameterType="java.util.Map" >
update CHAPTER set nextId='${nextId}' where novelId=${novelId} and orderNum=${orderNum}
	</update>
</mapper>